html{
touch-action: none;
    overflow:  hidden;
}

html, body{
    min-height: 100%;
    min-width: 100%;
    margin:0;
    padding:0;
}
body{
	touch-action: none;
    background-color: rgb(35, 35, 45);
}

.search{
    margin: auto;
    margin-top: 1%;
    display: flex;
    width: 70%;
}
.button {
	flex: 1;
    background-color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchBox {
	outline: none;
    border: none;
	display: inline-flex;
	flex: 10;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
}



.button:hover{
    background-color: rgb(200, 200, 200);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
}

.videosDiv{
  position: fixed;
	width: 5000px;
    margin-top: 5%;
    transition: transform 0.3s;
  	display: flex;
}

.video{

	margin: auto;
	background-color: white;
    width: 320px;
    height: 500px;
    border-radius: 10px;
  transition: opacity 0.3s;

  overflow: auto;

  position: relative;
}

.videoPicture{
    display: block;
    max-height: 180px;
    width: 100%;
    margin-top: 10px;
}

.videoHref{
    display: block;
    background-color: rgba(24, 105, 30, 0.5);
    color: white;
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    max-height: 30%;
    font-size: 25px;
}



.channel{
    text-decoration: none;
}
.personIcon{
	margin-left: 20px;
    display: inline-block;
}

.personName{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    width: 70%;
}
.date{
	margin-top: 10px;
}
.description{
	margin-top: 2%;
	margin-left: 3%;
}

.footer
{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top:15px;
  padding-top:7px;
  text-align: center;
}
.scroll :hover{
  background-color: #AAA;
}
.scroll{
  background-color: #E3E3E3;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 10px;
  width: 20px;
  height: 20px;
}
.clickedBtn
{
  background-color: #111111;
}
